alias la='ls -AHhGgrtop'
alias ll='ls -HhGgrtop'
alias l='ls -1'

# Git
alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias gcm='git commit -m'
alias gpull='git pull'
alias gpush='git push'
alias gmerge='git merge'
