# Listing
alias la='ls -AHhGgrtop'
alias ll='ls -HhGgrtop'
alias l='ll -1'

# Kattis
alias submit='submit -f'

# Git
alias status='echo && git status -bs && echo'
alias add='git add'
alias update='git add -u'
alias commit='git commit'
alias pull='git pull'
alias push='git push'

# Remap the things
alias python='python3'
alias pip='pip3'
alias grep='rg'
alias find='fd'

# Applications
alias azure='open -a "Azure Data Studio - Insiders"'
alias preview='open -a "Preview"'
alias code='open -a "Visual Studio Code - Insiders"'
