#!/usr/bin/env bash

function runcs {
	csc.exe "$1.cs"
	EXECUTABLE=$1.exe
	./"$EXECUTABLE"
	rm -f "$EXECUTABLE"
}

function wh {
  cd "/mnt/c/Users/Bjarke Brodin/"
}

function rand {
	if [[ $2 -lt $1 ]]; then 
		echo "usage: rand min max"; 
	else
		let "num = $RANDOM % $2 + $1";
		echo $num;
	fi
}

function saf {
	open -a /Applications/Safari.app $@
}


function submit {
  ~/submit.py $@
}

function books {
	open ~/Books	
}

function kattis {
  saf https://open.kattis.com/problems/$1
  cd ~/Kattis/
  if [[ ! -d $1 ]]; then; mkdir $1; fi
  cd $1	
  
  if [[ $2 -eq 'java' && ! -f "$1.java" ]]; then
	echo "\
import java.io.*; \n\
import java.util.*; \n\

public class $1 { \n\

} \n\
	" > $1.java && code $1.java
  fi;	
}
