#!/usr/bin/env bash

function nb {
  cd ~/Notes &&
    git pull &&
    jupyter-notebook &&
    cd -
}

function coulouris {
  open -a Preview ~/Books/Distributed\ Systems/Distributed\ Systems\ Concepts\ and\ Design\ -\ 5th\ Edition.pdf  
}


