[user]
	name = bjal
	email = bjal@itu.dk
[core]
	editor = vim
[credential]
	helper = osxkeychain
[init]
  defaultBranch = main
[alias]
	lg = log -10 --pretty=format:\"%Cred%h %C(auto,yellow)%an %Cgreen%s\"
  last = lg -1 HEAD
  unstage = reset HEAD --
